/* 全域設定 */
.text-justify{
  text-align: justify;
}

.mb-200{
  margin-bottom: 200px;
}





/* -------------------------------全域設定 */



/* -------------------------------釀造觀察 */

body {
  background-color: hsl(0, 0%, 98%)
}

/* -------------------------------釀造觀察 */



